<ion-view view-title="안전주행">
  <ion-nav-buttons side="left">
    <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!--<ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search"/>        
    </label>
    <button class="button button-clear">
        Cancel
    </button>
  </ion-header-bar>-->
  <ion-content class="padding">
    <div class="row">
      <div style="text-align:left;">
        <div id="speed" style="min-width: 310px; max-width: 400px; height: 200px; margin: 0 auto"></div>
      </div>
    </div>
    <div class="item item-avatar">
      <img src="http://www.iconskid.com/images/192/-energy-icon-by-dustwin-this-is-an-for-greeneco-engergypower-192126.png" style="width: 9%;height: 50%;">
      <h2 style="color: green; text-align:left;font-size: 18px;">안전운전행동기준</h2>
    </div>
    <ion-item>
      <div class="row">
        <div class="col col-30">
          <div style="text-align:center;">
            <br>
            <h2 style="color: {{color}}; font-size: 18px;">{{text}}</h2>
            <h4 style="color: gray;">{{data.rotationR + data.rotationL +data.CC+data.CF+data.SL+data.LSL+data.acc+data.dcc+data.start+data.stop+data.uturn}}<small>회 위반</small></h4>
          </div>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.rotationL }}"> </progress>
          <h5 style="text-align:right;">급좌회전: {{data.rotationL}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.rotationR }}"> </progress>
          <h5 style="text-align:right;">급우회전: {{data.rotationR}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.uturn }}"> </progress>
          <h5 style="text-align:right;">급유턴: {{data.uturn}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col col-30">
          <progress max="50" value="{{ data.CC }}"> </progress>
          <h5 style="text-align:right;">급진로변경: {{data.CC}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.CF }}"> </progress>
          <h5 style="text-align:right;">급앞지르기: {{data.CF}}</h5>
        </div>

        <div class="col col-30">
          <progress max="50" value="{{ data.SL }}"> </progress>
          <h5 style="text-align:right;">과속: {{data.SL}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.LSL }}"> </progress>
          <h5 style="text-align:right;">장기과속: {{data.LSL}}</h5>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col col-30">
          <progress max="50" value="{{ data.acc }}"> </progress>
          <h5 style="text-align:right;">급가속: {{data.acc}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.dcc }}"> </progress>
          <h5 style="text-align:right;">급감속: {{data.dcc}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.start }}"> </progress>
          <h5 style="text-align:right;">급출발: {{data.start}}</h5>
        </div>
        <div class="col col-30">
          <progress max="50" value="{{ data.stop }}"> </progress>
          <h5 style="text-align:right;">급정지: {{data.stop}}</h5>
        </div>
      </div>
    </ion-item>

  </ion-content>
</ion-view>
