<ion-view view-title="그래프">
  <ion-content>
     <div class="row">
      <div style="text-align:left;">
        <div id="container-speed" style="width: 240px; height: 160px;">
        </div>
      </div>
      <div style="text-align:center;">
        <br><br>
        <h3 style="color: {{color}};">{{text}}</h3>
        <h3>{{data.rotationR + data.rotationL +data.CC+data.CF+data.SL+data.LSL+data.acc+data.dcc+data.start+data.stop+data.uturn}}<small>회 위반</small></h3>
      </div>
    </div>
  </ion-content>
</ion-view>
